.alert {
    margin-top: 20px;

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1.25rem 1rem;
    }
}

.search-feedback-msg {
    margin: 20px 0 40px;
    text-align: center;
}

.card {
    margin-bottom: 20px;

    .card-body p {
        margin-bottom: 0   
    }
}