/*General Styling*/
section {
	margin-top: 30px;
}

h4 {
	height: 38px;
}
/*End General Styling*/

/*Counter*/
.counter-message {
	margin-bottom: 30px;
}
/*End Counter*/

/*Nav Bar*/
.navbar {
	min-height: 60px;
	margin-bottom: 0;
}

.navbar-brand {
	padding: 22px 15px;
}

.navbar-default {
	background-color: #1b1b1b;
  background-image: none;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #ccc;
}

.navbar-default .navbar-nav>li>a {
	color: #ccc;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ccc;
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-nav .open .dropdown-menu>li>a:hover {
	cursor: pointer;
}

.navbar-form {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-form .input-group>.form-control {
	border-radius: 0;
  background-color: #333;
  border: 0;
	color: #ccc;
}

.navbar-form .input-group>.form-control:focus {
	box-shadow: none;
}

/*End Nav Bar*/

/*Form*/
.form-control {
	height: 60px;
	font-size: 15px;
}

.input-group-btn .btn {
	border: 0;
	border-radius: 0;
	background-color: #333;
	background-image: none;
  box-shadow: none;
  height: 60px;
}

.input-group-btn .glyphicon-search {
	color: #ccc;
	text-shadow: none;
}
/*End Form*/

.btn-primary {
	background-image: none;
	border-radius: 0;
	border: none;
	padding: 7px 12px;
}

.thumbnail {
	border-radius: 0;
}

@media (max-width: 767px) {

	section {
		margin-top: 20px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #333;
	}
	.navbar-nav .open .dropdown-menu>li:hover {
		background-color: #e2e2e2;
	}

	.navbar-nav .open .dropdown-menu>li>a:hover {
		color: #555;
		cursor: pointer;
	}
	
}
